In [3]:
%load_ext sql
%sql sqlite:///auctionDB.db
%sql SELECT * FROM sqlite_master WHERE type = 'table';

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
Done.

[('table', 'Time', 'Time', 9816, 'CREATE TABLE Time(currtime string PRIMARY KEY)'),
 ('table', 'Item', 'Item', 8, 'CREATE TABLE Item (itemID string PRIMARY KEY, name string, currently string, \n\tbuy_price string, first_bid string, started string, ends string, \n\tuserID string references User, description string)'),
 ('table', 'User', 'User', 12, 'CREATE TABLE User (userID string PRIMARY KEY, rating string, location string, country string)'),
 ('table', 'Category', 'Category', 869, 'CREATE TABLE Category (itemID string references Item, category string, PRIMARY KEY (itemID, category))'),
 ('table', 'Bid', 'Bid', 1000, 'CREATE TABLE Bid (itemID string references Item, userID string references User, time string, amount string, PRIMARY KEY (itemID,time))')]