In [2]:
%load_ext sql
%sql sqlite:///midterm.db

/Users/heoeunji/anaconda/lib/python3.6/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/Users/heoeunji/anaconda/lib/python3.6/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

'Connected: None@midterm.db'

## CS360 2017S Midterm - Problem #1

Figure 1 shows the schema and data for a sample database containing information  concerning suppliers (`S`), part (`P`), and project (`J`). Suppliers, parts, and projects are  uniquely identified by supplier number (`S#`), part number (`P#`), and project number  (`J#`),  respectively.  The  significance  of  an  SPJ  record  is  that  the  specified  supplier  supplies  the  specified  part  to  the  specified  project  in  the  specified  quantity  (and  the  combination  `S#_P#_J#`  uniquely  identified  such  a  record).  Write  SQL  statements for the following.

```
S (S#, SNAME, STATUS, CITY)
P (P#, PNAME, COLOR, WEIGHT, CITY) J (J#, JNAME, CITY)
SPJ (S#, P#, J#, QTY)
```

![Figure 1. The suppliers-parts-projects database.](./Midterm-Figure1.png)

---

**1)** Define a relation `SPJ` schema for this database. 

Example:
```sql
CREATE TABLE S (
    S# CAHR(5) PRIMARY KEY NOT NULL, SNAME TEXT NOT NULL,
    STATUS INT,
    CITY CHAR(20)
);
```

In [129]:
%%sql
DROP TABLE IF EXISTS `SPJ`;
CREATE TABLE SPJ(
    'S#' CHAR(5) NOT NULL, 
    'P#'  CHAR(5) NOT NULL,
    'J#' CHAR(5) NOT NULL,
    'QTY' integer,
      FOREIGN KEY("S#") REFERENCES S("S#"),
      FOREIGN KEY("P#") REFERENCES P("P#"),
      FOREIGN KEY("J#") REFERENCES J("J#")

    )

1 rows affected.
1 rows affected.

[]

```
DO NOT MODIFY SQL BELOW!!!
Execute SQL after defining the SPJ relation.
```

In [130]:
%%sql
INSERT INTO SPJ ("S#", "P#", "J#", QTY) VALUES 
    ('S1', 'P1', 'J1', 200),
    ('S1', 'P1', 'J4', 700),
    ('S2', 'P3', 'J1', 400),
    ('S2', 'P3', 'J2', 200),
    ('S2', 'P3', 'J3', 200),
    ('S2', 'P3', 'J4', 500),
    ('S2', 'P3', 'J5', 600),
    ('S2', 'P3', 'J6', 400),
    ('S2', 'P3', 'J7', 800),
    ('S2', 'P5', 'J2', 100),
    ('S3', 'P3', 'J1', 200),
    ('S3', 'P4', 'J2', 500),
    ('S4', 'P6', 'J3', 300),
    ('S4', 'P6', 'J7', 300),
    ('S5', 'P2', 'J2', 200),
    ('S5', 'P2', 'J4', 100),
    ('S5', 'P5', 'J5', 500),
    ('S5', 'P5', 'J7', 100),
    ('S5', 'P6', 'J2', 200),
    ('S5', 'P1', 'J4', 1000),
    ('S5', 'P3', 'J4', 1200),
    ('S5', 'P4', 'J4', 800),
    ('S5', 'P5', 'J4', 400);

23 rows affected.

[]

**2)** Insert a tuple (“`S5`”, “`P6`”, “`J4`”, `500`) into `SPJ` relation.

In [117]:
%%sql
INSERT INTO SPJ VALUES ('S5','P6','J4',500);

1 rows affected.

[]

**3)** Change the color of all “red” parts to “orange”.

In [ ]:
%%sql
UPDATE P 
SET color = 'Orange'
WHERE color = 'Red';

**4)** Delete all “red” parts and corresponding `SPJ` records.

In [ ]:
%%sql
DELETE FROM SPJ
WHERE SPJ.'P#' IN ( SELECT 'P#' FROM P WHERE P.COLOR = 'Red');

**5)** Get full details (the values of all attributes) of all projects.

In [118]:
%%sql
Select * From J

Done.

[('J1', 'Sorter', 'Paris'),
 ('J2', 'Punch', 'Rome'),
 ('J3', 'Reader', 'Athens'),
 ('J4', 'Console', 'Athens'),
 ('J5', 'Collator', 'London'),
 ('J6', 'Terminal', 'Oslo'),
 ('J7', 'Tape', 'London')]

**6)** Get full details (the values of all attributes) of all projects in London.

In [119]:
%%sql
Select * From J Where J.'CITY'='London'

Done.

[('J5', 'Collator', 'London'), ('J7', 'Tape', 'London')]

**7)** Find project name (`JNAME`) for projects supplied by supplier “`S1`”.

In [121]:
%%sql
Select  DISTINCT j.JNAME From J as 'j', SPJ as 'spj' Where spj.'S#'='S1' and spj.'J#' = j.'J#'

Done.

[('Sorter',), ('Console',)]

**8)** Find supplier number (`S#`) for suppliers who supply a “London” or “Paris” project with a red part.

In [122]:
%%sql
Select DISTINCT lpsuppl.'S#' as 'supplier number'
From (Select * From P Where COLOR = 'Red' ) as 'redpart', 
    (Select * From S Where CITY = 'London' or CITY = 'Paris') as 'lpsuppl',
    SPJ as 'spj'
WHERE lpsuppl.'S#' = spj.'S#' and redpart.'P#' = spj.'P#';

Done.

[('S1',), ('S3',), ('S4',)]

**9)** Find project number (`J#`) for projects supplied by a least one supplier not in the same city.

In [123]:
%%sql
Select DISTINCT spj.'J#'
From SPJ as 'spj' 
Where (SELECT s.CITY From S as 's' Where spj.'S#'=s.'S#') 
    <> (SELECT j.CITY From J as 'j' Where spj.'J#'=j.'J#');

Done.

[('J1',), ('J4',), ('J2',), ('J3',), ('J5',), ('J6',), ('J7',)]

**10)** Find supplier number (`S#`) for suppliers supplying at least one part supplied by at least one supplier who supplies at least one “red” part.

In [124]:
%%sql
Select DISTINCT spj.'S#'
From SPJ as 'spj'
WHERE spj.'P#' 
    in (Select spj2.'P#'
       From SPJ as 'spj2'
       Where spj2.'S#' = spj.'S#' and spj2.'S#' 
            in (Select spj3.'S#'
               From SPJ as 'spj3'
               Where spj3.'P#' in (Select p1.'P#'
                                  From P as 'p1'
                                  Where p1.COLOR = 'Red')))  ;

Done.

[('S1',), ('S3',), ('S4',), ('S5',)]

**11)** Find project number (`J#`) for projects using at least one part available from 
supplier “`S1`”.

In [125]:
%%sql
Select DISTINCT spj.'J#'
From SPJ as 'spj'
Where spj.'P#' in (Select spj2.'P#'
                  From SPJ as 'spj2'
                  Where spj2.'S#'='S1');

Done.

[('J1',), ('J4',)]

**12)** Find  supplier  number  (`S#`)  for  suppliers  who  supply  the  same  part  to  all 
projects.

In [126]:
%%sql
Select DISTINCT s.'S#'
From S as 's'
Where EXISTS (
            Select *
            From P as 'p'
            Where not EXISTS ( Select * From J as 'j' 
                                 Where NOT EXISTS ( Select * From SPJ as 'spj'
                                                  Where spj.'J#'=j."J#" and spj."P#" = p."P#" and spj."S#" = s."S#")));

Done.

[('S2',)]

**13)** For each project, get the part number and the total quantity supplied of 
that part.

In [136]:
%%sql

Select spj."J#", spj."P#", sum(spj.QTY)
From SPJ as 'spj'
GROUP BY spj."P#", spj."J#"
ORDER BY spj."J#";

Done.

[('J1', 'P1', 200),
 ('J1', 'P3', 600),
 ('J2', 'P2', 200),
 ('J2', 'P3', 200),
 ('J2', 'P4', 500),
 ('J2', 'P5', 100),
 ('J2', 'P6', 200),
 ('J3', 'P3', 200),
 ('J3', 'P6', 300),
 ('J4', 'P1', 1700),
 ('J4', 'P2', 100),
 ('J4', 'P3', 1700),
 ('J4', 'P4', 800),
 ('J4', 'P5', 400),
 ('J5', 'P3', 600),
 ('J5', 'P5', 500),
 ('J6', 'P3', 400),
 ('J7', 'P3', 800),
 ('J7', 'P5', 100),
 ('J7', 'P6', 300)]

**14)** Get the project number for all projects that use the parts supplied by more 
than one supplier.

In [132]:
%%sql
Select j."J#"
From (Select spj."J#", spj."P#", count(spj."S#") as 'cnt'
      From SPJ spj
      GROUP BY spj."P#", spj."J#"
      ORDER BY spj."J#") as 't1', J as 'j'
Where j."J#" = t1."J#" and t1.cnt > 1
GROUP BY j."J#";

Done.

[('J1',), ('J4',)]

**15)** For all parts such that the quantity supplied is greater than 100, get the 
project  number,  supplier  number  and  the  maximum  quantity  of  the  part  supplied  to  the  project  and  by  the  supplier;  and  order  the  result  by  ascending project number and supplier number.

In [133]:
%%sql
Select spj2."P#" as"P#", spj2."J#" as"J#", spj2."S#" as "S#",MAX(spj2."QTY") as "Max QTY"
From (
    Select *
    From (Select * From SPJ as 'spj1' Where spj1.QTY>100 ) 
) as 'spj2'
Group by spj2."P#";

Done.

[('P1', 'J4', 'S5', 1000),
 ('P2', 'J2', 'S5', 200),
 ('P3', 'J4', 'S5', 1200),
 ('P4', 'J4', 'S5', 800),
 ('P5', 'J5', 'S5', 500),
 ('P6', 'J3', 'S4', 300)]

**16)** Get the supplier number and sum of quantity of parts supplied to two projects "`J1`" and "`J2`" by supplier showing the results for all suppliers regardless whether the suppliers supply the part to the project or not

In [135]:
%%sql
-- sa:t3 a t2 
Select t3."S#", t2.QTY
From S as 't3' 
LEFT OUTER JOIN (Select s."S#", t1.sumQTY as QTY
                 From S as 's' , 
                     (Select spj."P#", count(spj."P#") as 'cnt'
                      From SPJ as 'spj'
                      Where spj."J#"='J1' or spj."J#"='J2'
                      GROUP BY spj."P#"ORDER BY spj."P#") as 'cntT', 
                     (Select spj."P#", spj."S#", sum(spj.QTY) as sumQTY
                      From SPJ as 'spj'
                      Where spj."J#"='J1' or spj."J#"='J2'
                      Group by spj."P#", spj."S#"
                      Order by spj."P#", spj."S#") as 't1'
                 Where (cntT.cnt > 1 and cntT."P#" = t1."P#" and s."S#" = t1."S#")) as 't2' ON t3."S#" = t2."S#";

Done.

[('S1', None), ('S2', 600), ('S3', 200), ('S4', None), ('S5', None)]